/***********

    MIXINS

************/

*{
    @extend %all;
}
*:after,
*:before{
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html{
    @extend %html;
}
h1, h2, h3, h4{
    @extend %headers;
}
ul{
    list-style: none;
}

/***********************************************
                LAYOUT
***********************************************/
.bg{
    &-header{
    @extend %bg-header;
    }
    &-header:before,
    &-header:after{
        @extend %bg-header-after;
    }
    &-header:before{
        left:0;
    }
    &-header:after{
        right:0;
    }
    &-focal{
        @extend %focal;
    }
    &-content1{
      @extend %content1;
    }
    &-content2{
        @extend %content2;
    }
    &-footer{
        @extend %footer;
    }
}
header{
    @extend %header;

    & h1{
    @extend %header-h1;
    }
    & nav{
    @extend %header-nav;
    }
    & nav > a{
    @extend %header-nav-a;
    }
}
section{
    &.focal{
    @extend %section-focal;
    }
 
    &.content1{
    @extend %section-content1;
    }

    &content2{
    @extend %section-content2;  
    }
}
.row{
    @extend %row;

     &.col{
    @extend %row-col;
    }
}
footer {
   @extend %footer;
    
    &.row{
    @extend %footer-row;
}
    &.row > *{
    @extend %footer-row2;
}
    &.row.last-row > *{
   @extend %footer-lastrow;
}
    &.row .col:first-child{
    @extend %footer-row-col;
}

   
}
/***********************************************
                NAVIGATION
***********************************************/
header nav{
    

    & > a{
        @extend %header-nav;
    }
    & > a:hover{
        @extend %header-nav-a;
    }
}
/***********************************************
                CONTENT
***********************************************/
header h1{
    @extend %header-h1;
    & i.fa-lg{
        @extend %header-i-fa-lg;
    }
    & i.fa-lg ~ span{
        @extend %header-i-fa-lg-span;
    }
}

.focal{ 
    &h2{
    @extend %focal-h2;
    }
    & .author{
    @extend %focal-author;
    }
}
.content1{
    & h3{
    @extend %content1-h3;
    }
    & h3 i{
     @extend %content1-h3-i;
    }
    & p{
     @extend %content1-p;
    }
}
.content2{
    & h3{
    @extend %content2-h3;
    }
    & h4{
        @extend %content2-h4;
    }
    & p{
        @extend %content2-p;
    }
    & li{
        @extend %content2-li;
    }

    & span[lang]{
        @extend %content2-span;
    }
    & span:hover:after{
        @extend  %content2-span-hover;
    }
    & h4 span[lang="sv"]:after{
        background-image: url(../img/sv-icon.png);
    }
    & h4 span[lang="pt"]:after{
        background-image: url(../img/pt-icon.png);
    }
    & h4 span[lang="fr"]:after{
        background-image: url(../img/fr-icon.png);
    }
    & h4 span[lang="no"]:after{
        background-image: url(../img/no-icon.png);
    }
    & h4 span[lang="hi"]:after{
        background-image: url(../img/hi-icon.png);
    }
    & h4 span[lang="es"]:after{
        background-image: url(../img/es-icon.png);
    }
}
/***********************************************
                FOOTER
***********************************************/
footer{
    & h4{
       @extend %footer2-h4;
    }
    & p{
        @extend %footer2-p;
    }
    & .fa-circle{
        @extend %footer2-fa-circle;
    }
    & h4[lang=de]{
       display:block;
    }
    & h4[lang=en],
    & h4[lang=ar],
    & h4[lang=ru]{
        display:none;
    }
}
/***********************************************
                MEDIA QUERIES
***********************************************/
@mixin media($width){
    @media all and (min-width: $width) and (max-width:$width){
        @content;
    }
}

.test{
    @include media(701px) {
        background-color: red;
    }
}

//@media all and (min-width:701px) and (max-width:900px){
//    @content;
//}



//@media all and (min-width:701px) and (max-width:900px){
//    header{
//        width: 700px;
//        margin: 0 auto;
//        min-height: 8rem;
//    }
//    header h1{
//        width: 100%;
//        color: $dark-brown;
//    }
//    header:before,
//    header:after{
//        width:230px;
//    }
//    header h1 i.fa-lg{
//        display:inline;
//        color: $dark-brown;
//        vertical-align:baseline;
//        float:none;
//        font-size: 4rem;
//        line-height: 6.3968rem;
//    }
//    header h1 i.fa-lg ~ span{
//        float: none;
//        letter-spacing: 0.25rem;
//        font-size: 3.998rem;
//        /**
//        1 lines of 3.998 * 1.6 = 6.3968
//        **/
//        text-align: left;
//    }
//    
//    header nav{
//        flex-direction: row; /* mobile first */
//        justify-content: space-around;
//        align-items: center;
//    }
//    header nav > a{
//        flex-basis: 20%;
//        font-size: 1rem;
//        line-height: 2rem;
//        min-height: 6rem;
//        border:none;
//        border-left:1px solid $grey; 
//        padding:1.0rem;
//        background-color: $white;
//    }
//    header nav > a:last-child{
//        border-right:1px solid $grey;
//    }
//    section.focal, 
//    section.content1,
//    section.content2,
//    footer{
//        width: 700px; 
//        margin: 0 auto;    
//    }
//    .content1 .row{
//        /* same as mobile default */
//    }
//    .content2 .row{
//        flex-direction: row;
//        flex-wrap: wrap;
//        justify-content: center;
//        align-items: flex-start;
//    }
//    .content2 .row .col{
//        flex-basis: 50%;
//    }
//    footer .row{
//        flex-wrap: nowrap;
//        flex-direction: row;
//        justify-content: space-around;
//        align-items: flex-start;
//    }
//    footer .row > *{
//        flex-basis: 50%;
//    }
//    footer .row.last-row > *{
//        flex-basis: 100%;
//    }
//    section.content2 h4{
//        font-size: 1.414rem;
//    }
//    section.content2 li{
//        font-size: 1.414rem;
//    }
//    footer .fa-circle{
//        color: $med-blue;
//    }
//    footer .row:first-child .col:last-child{
//        unicode-bidi: bidi-override;
//        direction: rtl;
//    }
//    footer h4[lang=ar]{
//       display:block;
//    }
//    footer h4[lang=de],
//    footer h4[lang=en],
//    footer h4[lang=ru]{
//        display:none;
//    }
//}



@media all and (min-width:901px) and (max-width: 1400px){
    header{
        width: 900px;
        margin: 0 auto;
    }
    header:before,
    header:after{
        width:300px;
    }
    header h1{
        width: 100%;
        color:$dark-blue;
    }
    header h1 i.fa-lg{
        display:inline;
        color: $dark-blue;
        vertical-align:baseline;
        float:none;
        font-size: 4rem;
        line-height: 6.3968rem;
    }
    header h1 i.fa-lg ~ span{
        float: none;
        letter-spacing: 0.25rem;
        font-size: 3.998rem;
        /**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
        text-align: left;
    }
    
    header nav{
        flex-direction: row; /* mobile first */
        justify-content: space-around;
        align-items: center;
    }
    header nav > a{
        flex-basis: 20%;
        font-size: 1rem;
        line-height: 2rem;
        min-height: 2rem;
        border:none;
        border-left:1px solid $grey; 
        padding: 0 1.0rem;
        margin: 1.0rem 0;
        background-color: $white;
    }
    header nav > a:first-child{
        border-left:none;
    }
    section.focal, 
    section.content1,
    section.content2,
    footer{
        width: 900px; 
        margin: 0 auto;    
    }
    section.focal h2{
        width: 600px; 
        margin: 0 auto;
    }
    section.focal p.author{
        width: 600px; 
        margin: 0 auto;
    }
    .content1 .row,
    .content2 .row,
    footer .row{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    .content1 .row .col{
        flex-basis: 33%;
        flex-grow: 1;
        flex-shrink: 0;
    }
    .content2 .row .col{
        flex-basis: 25%;
        flex-grow: 1;
        flex-shrink: 0;
    }
    footer .row .col{
        flex-basis: 50%;
    }
    footer .row.last-row{
        justify-content: flex-start;
    }
    footer .row.last-row .col{
        flex-basis: 100%;
    }
    section.content1 h3{
        font-size: 1.999rem;
        font-weight: 100;
    }
    section.content1 h3 .fa-2x{
        font-size: 1.999rem;
        padding-right: 1rem;
    }
    
    section.content2 h4{
        font-size: 1.414rem;
    }
    section.content2 li{
        font-size: 1.414rem;
    }
    section.content2 p{
        font-size: 1rem;
        font-weight: 400;
    }
    footer .fa-circle{
        color: $light-brown;
    }
    footer h4[lang=ru]{
       display:block; 
    }
    footer h4[lang=de],
    footer h4[lang=ar],
    footer h4[lang=en]{
        display:none;
    }
}


@media all and (min-width:1401px){
    header{
        width: 1400px;
        margin:0 auto;
    }
    header:before,
    header:after{
        width:450px;
    }
    header h1{
        width: 100%;
        color: #7C593C;
    }
    header h1 i.fa-lg{
        display:inline;
        color: $dark-brown;
        vertical-align:baseline;
        float:none;
        font-size: 4rem;
        line-height: 6.3968rem;
    }
    header h1 i.fa-lg ~ span{
        float: none;
        letter-spacing: 0.25rem;
        font-size: 3.998rem;
        /**
        1 lines of 3.998 * 1.6 = 6.3968
        **/
        text-align: left;
    }
    
    header nav{
        flex-direction: row; /* mobile first */
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 0rem 0;
        background-color: $white;
    }
    header nav > a{
        flex-basis: 20%;
        font-size: 1.414rem;
        line-height: 2rem;
        min-height: 2rem;
        border:none;
        border-left:1px solid $grey; 
        padding:0 1.0rem;
        margin: 1rem 0;
        background-color: $white;
    }
    header nav > a:first-child{
        border-left:none;
    }
    section.focal, 
    section.content1,
    section.content2,
    footer{
        width: 1400px; 
        margin: 0 auto;    
    }
    .content1 .row,
    .content2 .row,
    footer .row{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .content1 .row .col{
        flex-basis: 30%;
        flex-grow: 1;
        flex-shrink: 0;
    }
    .content2 .row .col{
        flex-basis: 20%;
        flex-grow: 1;
        flex-shrink: 0;
    }
    footer .row .col{
        flex-basis: 50%;
    }
    footer .row.last-row{
        justify-content: flex-start;
    }
    footer .row.last-row .col{
        flex-basis: 100%;
    }
    
    
    section.focal h2{
        font-size: 3.998rem;
        width: 600px; 
        margin: 0 auto;
    }
    section.focal p.author{
        width: 600px; 
        margin: 0 auto;
    }
    
    section.content1 h3{
        font-size: 2.827rem;
        font-weight: 100;
    }
    section.content1 h3 .fa-2x{
        font-size: 2.827rem;
        padding-right: 1rem;
        vertical-align: middle;
    }
    
    section.content2 h4{
        font-size: 1.999rem;
    }
    section.content2 li{
        font-size: 1.999rem;
    }
    section.content2 p{
        font-size: 1.414rem;
    }
    footer p{
        font-size: 1.414rem;
        letter-spacing: 0.2rem;
    }
    footer p:last-child{
        color: $grey;
    }
    footer .fa-circle{
        color: $med-blue;
    }
    
    footer h4[lang=en]{
       display:block; 
    }
    footer h4[lang=de],
    footer h4[lang=ar],
    footer h4[lang=ru]{
        display:none;
    }
    
}